/*     TYPOGRAPHY CLASSES    */

.font-castoro{
    font-family: $font-Castoro;
}

.font-lobster{
    font-family: $font-Lobster;
}

.font-play{
    font-family: $font-Play;
}

.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-30{
    font-size: 30px;
}